@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
body
{
    font-family: 'Concert One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    background: rgb(58,99,164);
    background: linear-gradient(90deg, rgba(58,99,164,1) 0%, rgba(24,81,85,1) 0%, rgba(50,145,164,1) 57%);
}

div
{
    margin-top: 10px;
}

#large
{
    font-size: 130%;
    margin-bottom: 20px;
}

span
{
    margin-top: 100px;
}

h1
{
    text-align: center;
}

h2
{
    font-size: 100%;
}

#para3-5, #para4, #para5, #para6, #para7, #para8, #para9, #para10
{
    font-style: italic;
    color: darkgray;
    line-height: 0.3;
}

#paragraph
{
    line-height: 1.1;
    font-style: italic;
    color: darkgray;
    font-size: 20px;
}
